* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
html {
  scroll-behavior: smooth;
}
body {
   overflow-x: hidden;
  color: white;
  background-color: #081b29;
}
body::-webkit-scrollbar{
  display:none;
}

.header {
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background:skyblue;
  z-index: 999;
  height:80px;
  box-shadow: 10px 10px 10px   #0053b8f7;
  border-radius: 20px 20px 20px 20px;
  border-style: inset;
  margin-top: 4px;
}

.header .logo {
  color: navy;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
  animation: slideRight 1s ease forwards;
  transition: 0.3s;
}

.header .logo:hover{
   font-size: 40px;
   transition:2s;
}
.menu-btn {
  font-size: 32px;
  color: navy;
  cursor: pointer;
  display: none;
}
@media (max-width: 955px) {

  .header {
    padding: 15px 5%;
    height: auto;
  }

  .menu-btn {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
     overflow: hidden;
    gap: 20px;

    /* hide menu */
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .navbar.open {
    max-height: 400px; /* menu opens */
  }

  .navbar a {
    font-size: 20px;
    margin: 10px 0;
  }
}


.navbar a {
  font-size: 25px;
  margin-left: 50px;
  color:navy;
  text-decoration: none;
  position: relative;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  background:navy;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
 
}

  
.navbar a:hover::after {
  width: 100%;

}


/* Hero Section */
#home {
  height: 100vh;
  padding: 15% 10% 5% 10%;
  color: white;
}


.home-content {
  max-width: 600px;

}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;

}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 30px;
  color: #0ef;
  text-decoration: none;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  margin: 25px 15px 20px 0;
 

}

.home-sci a:hover {

  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.home-img img {
  position: absolute;
  top: 20%;
  right: 60px;
  max-width: 100%;
  height: auto;
  border-radius: 30%;
  border-style: solid;
  border-color: #0ef;
  border-width: 5px;
    animation: slowShadow 4s infinite alternate,
     slideLeft 3s ease forwards;
}

@keyframes glowShadow {
  0% {
    box-shadow: 10px 10px 20px #012290f7;
  }
  50% {
    box-shadow: 10px 10px 40px #0053b8f7;
  }
  100% {
    box-shadow: 10px 10px 40px #012290f7;
  }
}
@keyframes slowShadow {
  0% {
    box-shadow: 10px 10px 20px #012290f7;
  }
  50% {
    box-shadow: 10px 10px 40px #0053b8f7;
  }
  100% {
    box-shadow: 10px 10px 20px #012290f7;
  }
}
.about{
  display:grid;
 grid-template-columns: repeat(2,1fr);
 align-items: center;
 column-gap: 1.5rem;
 row-gap: 1.5rem;
  height: 100vh;
  padding: 10% 10% 5% 2px;
  color: white;
}
.about-img img{
  margin-bottom: 10%;
  margin-left: 5%;
  height:auto;
  border-radius: 30%;
  border-style: solid;
  border-color: #0ef;
  border-width: 5px;
   animation: slowShadow 4s infinite alternate,
     slideRight 3s ease forwards;
}

   

.about-text h2{
  font-size: 60px;
}
.about-text h2 span{
  color:#0ef;
}
.about-text h4{
  font-size: 29px;
  font-weight: 600;
  color:white;
  line-height: 1.7;
  margin:15px 0 30px
}
.about-text p{
  color:aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-top: auto;
  margin-bottom: 4rem;
}
.about-text a{
  margin-top:1px;
  margin-bottom: 10%;
}

#service{
  color:aliceblue;
  font-size: 20px;
  line-height:1.4;
  margin-bottom: 4rem;
  height: 100vh;
  

}
.sub-title{
  text-align: center;
  font-size:60px ;
  padding-bottom: 30px;
  padding-top: 90px;
}

.sub-title span{
   color:#0ef;
}


#skills{
  padding-bottom:0;
}

.container{
  padding:90px;
}

.services-list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right:10px;
  border-radius: 20px;
  transition: background 0.5s , transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7,
              1px 1px 40px #0053b8f7
}
.services-list div .bx bx-code{
        font-size: 30px;
        margin-bottom: 30px;
}

.services-list div h2{
  font-size: 30px;
  font-weight:500 ;
  margin-bottom: 15px;
}
.services-list div .read{
  text-decoration: none;
  color:#000;
  font-size: 12px;
  margin-top: 20px;
  display:inline-block;
}
.services-list{
   animation: slideBottom 5s ease forwards;
}
.read{
  display:inline-block;
  padding:12px 20px;
  background: #0ef;
  border-radius:40px;
  font-size: 16px;
  color:#001b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity:0;
   animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}
.read:hover{
   box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}
.services-list div:hover{
  transform:translateY(-30px);
}
section{
  display:flex;
  flex-wrap: wrap;
}
.container1{
  width:600px;
  padding:0px 90px;
  margin-left: 120px;
  margin-bottom: 15rem;
  height: 100vh;
}
.heading1{
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
 
}
.bar{
  font-size: 23px;
}
.technical-bars .bar{
  margin-top:40px 0;
}
.technical-bars .bar:first-child{
  margin-top: 0;
}
.technical-bars .bar:last-child{
  margin-bottom: 0;
}
.technical-bars .bar .info{
  margin-bottom: 5px;
}
.technical-bars .bar .info span{
  font-size:17px ;
  font-weight: 500;
  animation:showText 0.5s  1s linear forwards;
  opacity:0 ;
}
.technical-bars .bar .pregress-line{
  position:relative;
  border-radius: 10px;
  width:100%;
  height:5px;
  background-color: #0000;
  animation: animate 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate{
  100%{
    transform: scaleX(1);
  }
}

.technical-bars .bar .progress-line span{
  height:100%;
  background-color:#0ef;
  position:absolute;
  border-radius: 10px;
  animation: animate 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  transform:scaleX(0);
  transform-origin: left;
}

.container1{
  width:600px;
  height:500px;
  padding:75px 90px;
  margin-left: 120px;
  
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;

}
.bar{
  font-size: 23px;
}
.technical-bars .bar{
  margin-top: 40px 0;
}

.technical-bars .bar:first-child{
  margin-top: 0;
}
.technical-bars .bar:last-child{
  margin-bottom: 0;
}
.technical-bars .bar .info{
  margin-bottom: 5px;
}
.technical-bars .bar .info span{
  font-size: 17px;
  font-weight:400 ;
  animation:showText 0.5s 3s linear forwards;
  opacity: 1;
}
.technical-bars .bar .progress-line{
  position: relative;
  border-radius: 10px;
  width: 100%;
  margin-bottom:30px;
  height: 5px;
  background-color: black;
  animation: animate 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate{
  100%{
    transform:scaleX(1);

  }
}

.technical-bars .bar .progress-line span{
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html5 span{
  width:100%;
}
.progress-line.css3 span{
  width:90%;
}
.progress-line.javascript span{
  width:70%;
}
.progress-line.react span{
  width:75%;
}
.progress-line span::after{
  position:absolute;
  padding:1px 8px;
  background-color: #0000;
  color:#fff;
  font-size: 12px;
  border-radius: 3px;
  top:-28px;
  right:-20px;
  animation:showTest 0.5s  1.5s  linear forwards;
  opacity: 0;
}
.progress-line.html5 span::after{
   content:"100%";
}
.progress-line.css3 span::after{
   content:"90%";
}
.progress-line.javascript span::after{
   content:"70%";
}
.progress-line.react span::after{
   content:"75%";
}
.progress-line span::before{
  content:"";
  position:absolute;
  width:0;
  height:0;
  border:7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top:-10px;
  right:0;
  animation:showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes showTest{
  100%{
    opacity: 1;
  }
}
.radial-bars{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.radial-bars .radial-bar{
  width:50%;
  height: 170px;
  margin-bottom:10px ;
  position:relative;

}

.radial-bars .radial-bar svg{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) rotate(-90deg);
  width:120px;
  height: 160px;
}
.radial-bars .radial-bar .progress-bar{
  stroke-width: 10;
  stop-color: black;
  fill:transparent;
  stroke-dasharray: 502;
  stroke-dashoffset:502;
  stroke-linecap: round;
  animation:animate-bar 1s linear forwards;

}

@keyframes animate-bar{
  100%{
    stroke-dashoffset:-1 ;
  }
}
.path{
  stroke-width:10;
  stroke:#0ef;
  fill:transparent;
  stroke-dashoffset: 502;
  stroke-dasharray: 502;
  stroke-linecap: round;
}
.path-1{
  animation:animate-path1 1s 1s linear forwards;
}
.path-2{
  animation:animate-path2 1s 1s linear forwards;
}
.path-3{
  animation:animate-path3 1s 1s linear forwards;
}
.path-4{
  animation:animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1{
100%{
  stroke-dashoffset: 50;
}
}
@keyframes animate-path2{
100%{
  stroke-dashoffset: 175;
}
}
@keyframes animate-path3{
100%{
  stroke-dashoffset: 175;
}
}
@keyframes animate-path4{
100%{
  stroke-dashoffset: 75;
}
}
.radial-bar .percentage{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size: 17px;
  font-weight: 500;
  animation:showText 0.5s 1s  linear forwards;
  opacity:1; 
}
.radial-bar .text{
  width:100%;
  position:absolute;
  text-align: center;
  left:50%;
  bottom:-5px;
  transform:translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation:showText 0.5s 1s linear forwards;
  opacity:1
}
#project{
  margin:auto;
  min-height: 100vh;
  background: linear-gradient(180deg, #020d1f, #041b33);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-text{
  padding-top: 100px;
  margin-top: 200px;
  
}

.main-text h2{
  font-size: 60px;
  line-height: 1;
  text-align: center;
}
.main-text h2 span{
  color:#0ef;
}
.portfolio-content{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:50px;
}
.row{
  margin:30px;
  position:relative;
  overflow:hidden;
  border-radius: 8px;
  cursor:pointer;
    animation: slideRight 4s ease forwards;
}


.layer{
  width:100%;
  height:0;
  background: linear-gradient(rgba(0,0,0,0.1),#0ef);
  position:absolute;
  border-radius: 8px;
  left:0;
  bottom:0;
  overflow:hidden;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:0 40px;
  transition:height 0.5s;
}
.layer h5{
  color:#000;
  font-size: 20px;
  font-weight:600;
  margin-bottom:15px;
}
.layer p{
  color:#0000;
  font-size: 1rem;
  line-height: 1.8;
}
.layer a{
  color:#ff004f;
  margin-top: 20px;
  font-size: 20px;
  background:#fff ;
  width:60px;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img{
  transform: scale(1.1);
  
}
.row:hover .layer{
  height:100%;
}

.contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap:3rem;
 padding: 80px 10%;
  margin-top: 130px;
  height: 100vh;
}
.contact-text{
  animation: slideRight 1s ease forwards;
}
  
.contact-text h2{
  font-size: 90px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span{
  color:#0ef;
}

.contact-text h4{
  margin: 15px 0;
  color:rgb(228,228,228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p{
  color:rgb(177,177,177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list{
  margin-bottom: 3rem;
    flex: 1;
}
.contact-list li{
  margin-bottom: 10px;
  display:block;
}
.contact-list a{
  display:inline-block;
  color:#0ef;
  font-size: 20px;
  font-weight: 600;
  transition:all .60s ease;
}
.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color:#0ef;
}
.contact-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 30px;
  color: #0ef;
  text-decoration: none;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
  margin: 5px 15px 20px 0;
 

}
.contact-form input{
  display: block;
}
.contact-icons a:hover{
  background: #0ef;
  color:#000;
  box-shadow: 0 0 20px #0ef;

}
.contact-form form{
  position:relative;
}
.contact-form input,textarea{

border:none;
outline:none;
width:90%;
padding:18px;
background:#555557;
color:white;
font-size: 1rem;
font-weight: 600;
margin-bottom: 0.5rem;
border-radius: 0.5rem;

}
.contact-form textarea{
  resize:none;
  height:220px;
}
.contact-form form .send{
  display:inline-block;
  padding:5px 60px;
  margin-top: 30px;
  background:#0ef;
  border-radius: 40px;
  font-size: 25px;
  color:#081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity:0;
  animation:slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef,
  0 0 25px #0ef;
}
.contact-form form .send:hover{
  border-style: solid;
  border-width: 3px;
  border-color: #000;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan,0 0 250px cyan,
  0 0 50px cyan,0 0 50px cyan;
}
.contact-form{
  animation: slideBottom 1s ease forwards;
    flex: 1;
}
